#Tukio_base {
	nav {
    a {
        color: white;
    }
    	padding-left: 140px;
		background-color: #8095A4;
		display: flex;
		flex-direction: row;
		font-family: Arial serif;
		justify-content: space-around;
		height: 90px;
		align-items: center;
		margin-bottom: 120px;
		color: white;
		li:hover{
			opacity: 0.5;
		}
		#logo {
      position: absolute;
      top:10px;
      left: 20px;
			width: 150px;
		}
		#logout{
			width: 180px;
			font-size: 17pt;
			background-color: #3E5667;
			text-align: center;
			border-radius: 10px;
		}
		#login{
			width: 180px;
			font-size: 17pt;
			background-color: #3E5667;
			text-align: center;
			border-radius: 10px;
		}
	}
	#day_week_toggle li {
		font-size: 17pt;
		border-radius: 10px;
		width: 180px;
		border: 1px solid black;
		background-color: #3E5667;
		display: inline-block;
		text-align: center;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}

#dayView {
	span.time {
		text-size: 16pt;
	}
}

}

html {
	background-color: #DBE8F2;
}
body{
	margin:0;
	height: 100%;
}
footer{
	background-color: #8095A4;
	width: 100%;
	position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}


#list_view {

}

#weekView {
    ul {
        list-style-type: none;
    }
    p.weekday {
        font-size: 25pt;
        font-weight: bold;
    }
    li {
        display: block;
        p, div, h3 {
            display: inline-block;
        }
        p.datetime {
            position:relative;
            top:-40px;
            font-size: 18pt;
            padding-right: 10px;
            width: 150px;
        }
        div.namedesc {
            p {
                display: block;
                margin-left: 40px;
                font-size: 15pt;
            }
            p.sponsor {
                text-align: right;
                margin-bottom: 0px;
            }
            p.location {
                text-align: right;
                margin-bottom: 0px;
            }
            h3 {
                margin: 0px;
            }
            display: inline-block;
            width: 80%;
            background-color: grey;
            border-radius: 5px;
            padding: 1em;
            margin-bottom: 5px;
        }
        div.namedesc.club {
            background-color: #00A492;
        }
        div.namedesc.individual {
            background-color: #2DCF38;
        }
    }
    li.day {
        //font-size: 18pt;
    }

}

h1.clubs-title {
    margin-left: 10px;
}
ul.club_list {
    list-style-type: none;
    li {
        a {
            color: black;
            font-size: 18pt;
        }
    }
}

.login {
  width:300px;
  display:block;
  margin: auto;
  text-align:right;
}

#clubsView {
  margin-left:40px;
  padding-top:15px;
  li{
    //margin-right:50px;
    width:80%;
    background-color:   #00A492;
    border-radius:5px;
    padding:1em;
  }
}

#create_event_form {
	width: 500px;
	margin: auto;
	display: block;
}

#new_club_form {
	width: 500px;
	margin: auto;
	display: block;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text]:focus {
	background-color:lightblue;
}