{% load staticfiles %}
<!DOCTYPE HTML>
<html id="Tukio_base" lang="en-us">
<head>
<meta charset="UTF-8" />
<meta name="description" content="Crowd-sourced club event schedule" />
<meta name="author" content="Collin, Dillion, Micheal, Brian, Jared, Dan, and Noah" />
<meta name="copyright" content="&copy;" />
<meta http-equiv="X-Frame-Options" content="allow">

<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href src="{% static "Tukio.css" %}">
<script src="{% static "Tukio.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<!-- - See more at: http://www.digital-lifestyle.com/2014/03/embedding-google-maps-with-traffic.html#sthash.Y1qIFrVr.dpuf -->
</head>
<body>
	<nav>
		<image id="logo">

		</image>
		<ul id="day_week_toggle">
			<li><a href="/calendar/day">Day</a></li>
			<li> Week
				<ul id="week_dropdown">
					<li><a href="/calendar/week">Week Schedule</a></li>
					<li><a href="/calendar/list">Event List</a></li>
				</ul>
			</li>
			<li><a href="/clubs/list">Clubs</a></li>
			<li><a href="/clubs/submit">Create a club</a></li>
    <li><a href="/calendar/submit">Submit Event</a></li>
		{% if request.user.is_authenticated %}
 			<li><a href="/accounts/logout">Logout</a></li>
		{% else %}
			<li><a href="/accounts/login">Login</a></li>
		{% endif %}
		</ul>
	</nav>

    {% block body %}
    {% endblock %}
    <footer>
    	<p>Authors: dillonb, doriummaldovar, brianmwaters, CollinGraf314, nhallpot, Dan Gredenzyas, jared-carlson</p>
    </footer>
</body>
</html>
