{% extends "eventsapp/base.html" %}
{% block body %}
<div id="dayView" >
  <h2> Events Today </h2>
  {% for event in events %}
  <div>
    <div class="name">{{ event.name }}</div>
    <div class="date-time">{{ event.date_time }}</span>
    <div class="description">{{ event.description }}</div>
    {% if event.club %}
    <div class="sponsor">{{ event.club }}</div>
    {% else %}
    <div class="sponsor">{{ event.user.full_name }}</div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
