{% extends "eventsapp/base.html" %}
{% block body %}
<div id="dayView" >
	<title>Day Schedule</title>
	<h1> Events Today </h1>
	
		{% for event in events_today %}
			<span class="time"> {{ event.date_time }} </span>
			<div class="{{event.user_type}}">
			
				<h3> {{ event.name }} </h3>
				<p> {{ event.description }} </p>
				<p> {% if event.club %}
						Sponsored by: <a href="/clubs/{{event.club.id}}">{{ event.club.name }}</a>
					{% else %}
						An individual: {{ event.user.full_name }}
					{% endif %} 
				</p>
			</div>
		{% endfor %}
</div>
{% endblock %}
