{% extends "eventsapp/base.html" %}
{% block body %}
<div id="weekView" >
  <h2>Week Schedule</h2>
  <ul class="days">
    {% for day in days %}
    <li class="day">
      <p class="weekday">{{ day.day }}</p>
      <ul class="events">
        {% for event in day.events %}
        <li class="event">
          <p class="name">{{ event.name }}</p>
	  <p class="datetime">{{ event.date_time }}</p>
	  <p class="description">{{ event.description }}</p>
    <p class="sponsor"> {% if event.club %}
                            Sponsored by: {{ event.club }}
                        {% else %}
                            An individual: {{ event.user.full_name }}
                        {% endif %}  
    </p>
	</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
